doctype html 
html(lang='es')
    head 
        title FotoFacilito 
        meta(charset='utf-8')
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    body 
        block contenido 