extends ./layout.jade 
block contenido     
    form(action='/users',method='POST')
        div(class='form-group') 
            label(for='email') Email 
            input(type="text", name='email', placeholder='Email' id='email' class='form-control')
        div 
            label(for='password') Contraseña 
            input(type="password", name='password', placeholder='Password' id='password' class='form-control')

        div 
            input(type="submit", value='Iniciar Sesión', class='btn btn-info')