html 
    head
        title Mi primera pagina con Express 
    body 
        - var arreglo = [1,2,3,4,5]; //con el - sabe que es js. El != nos permite ademas de imprimir variables, leer etiquetas html, se recomienda no hacerlo
        - for (var i = arreglo.length - 1; i >= 0; i--)//Lo del for va identado pero sin {}//el = ejecuta el codigo js y lo imprime
            p= '<h1>'+arreglo[i]+'</h1>' 
            p Hola #{arreglo[i]} //Así podemos imprimir una cadena estatica con codigo de js
            p. 
             Hola haz click en este link #[a(href='www.google.com') este link] //Así podemos concatenar etiquetas html, en este caso p y a
        if true
            p No hace falta que ponga el - de js
        
        each item in arreglo
            p= item
            case item 
                when 1
                    p El item era uno
                when 2
                    p Este item es el 2
                default 
                    p El item no era 1 ni 2 
